body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #2f9288;
  overflow: hidden;
  align-items: center;
}

.searchbar{
  margin: auto;
  width: 50%;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: transparent;
  align-self: center;
  width: 1580px;
  margin: auto;
}

.cell {
  height: 525px;
  width: 375px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin: 10px;
  margin-inline: auto;
}

.topnav input[type=text] {
  display: inline-block;
  padding: 10px;
  font-size: 21px;
  margin: 10px;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  color: white;
}

::placeholder {
  color: white;
  opacity: 1;
}

input:focus {
  outline: none;
}

.row {
  width: 75%;
  margin: auto;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.cardTextBox {
  width: 75%;
  background-color: #2f9288;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 25px;
}

hr {
  border-top: #ffffff;
}