<nav class="topnav">
  <form class="searchbar" action="/search/" method="GET">
    <input
      type="text"
      placeholder="Search"
      style="font-weight: bold"
      name="q"
    />
  </form>
</nav>
