<nav class="topnav">
  <form class="searchbar" action="/custom/search/" method="POST">
    <input
      type="text"
      placeholder="Search"
      style="font-weight: bold"
      name="searchTerms"
      id="searchInput"
    />
  </form>
</nav>
