body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  height: 100dvh; /* Full viewport height */
  background: linear-gradient(to bottom, #2f9288, #135750);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  justify-content: center; /* Align children vertically */
  align-items: center; /* Align children horizontally */
  height: 100%; /* Ensure it fills the parent container */
}

body main h1 {
  margin-bottom: 0px;
  font-size: 36pt;
  font-family: Verdana, sans-serif;
  color: #daddf5;
}

body main h3 {
  font-size: 18pt;
  font-family: Verdana, sans-serif;
  color: #daddf5;
}

footer {
  height: 10dvh;
  background: #113847;
  text-align: center;
  border-top: solid;
}

header {
  height: 10dvh;
  background: #26746c;
  text-align: center;
  border-bottom: solid;
  display: flex;
}

header h1 {
  margin: auto;
}

.customClass { grid-area: custom; }
.decksClass { grid-area: decks; }
.gamesClass { grid-area: games; }
.loginClass { grid-area: login; }

.grid-container {
  display: grid;
  grid-template-areas: 
    'login login'
    'custom custom'
    'decks games';
  /* background-color: #2196F3; */
  padding: 10px;
  gap: 5dvh;
}

a {
  justify-self: center; /* Center the button horizontally */

  font-size: 16pt;
  font-family: Verdana, sans-serif;
  background-color: transparent;
  padding: 12px 7px 12px 7px;
  border: 2px solid #daddf5;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  width: 100%;
  text-align: center;
  text-decoration: none;
}