body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: linear-gradient(to bottom, #2f9288, #135750);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  align-items: center;
}

.login-container {
  background-color: #ffffff66;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
  width: 80dvw;
  min-width: 10em;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #333;
}

.login-container input {
  padding: 15px;
  font-size: 16pt;
  font-family: Verdana, sans-serif;
  background-color: transparent;
  border: 2px solid #daddf5;
  border-radius: 10px;
  color: #333333;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.login-container input::placeholder {
  color: #6c6c6c;
}

.login-container input:focus {
  outline: none;
  border-color: #9b4dca;
}

.login-container button {
  padding: 13px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background: linear-gradient(to right, #9b4dca, #6a0dad, #a64ca6);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background: linear-gradient(to right, #723996, #460972, #723996);
}

.login-container a {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  color: #333333;
  text-decoration: none;
}

.login-container a:hover {
  text-decoration: underline;
}

.grid-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grid-form div {
  display: flex;
  justify-content: center;
}

.grid-form button {
  grid-column: span 2;
  margin-top: 20px;
}

.errorList {
  grid-column: span 2;
}