<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/public/css/homeStyle.css" />

    <title>Regal's Magic</title>
  </head>

  <body>
    <header>
      <h1>123</h1>
      <h1>456</h1>
    </header>

    <main>
      <h3>Content</h3>
    </main>

    <footer>
      <h1>456</h1>
    </footer>
  </body>
</html>
